*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
font-family: sans-serif;
color:black;
background-color:white;
}
main{
    display: grid;
    grid-template-columns: 1fr repeat(12,minmax(auto,60px)) 1fr;
    grid-gap:40px;
    padding: 60px 0;
}
.text-medium{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.cards{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns:repeat(12,minmax(auto,60px));
    grid-gap: 40px;
}
.card{
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
   
    background-color: silver;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.card:hover{
    transform: translateY(-7px);
     z-index: 2;
}
.card-image-container{
    width: 100%;
   /* height: auto;
    padding-top: 10%; */
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card-image-container img{
    width: 100%;
    position: absolute;
    width: 200px;
     height: 200px;
     /*position: relative; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.card-content{
    padding:20px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: black;
}
.card-title{
   margin-bottom: 20px;
   font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;

}
.card-info{
    display: flex;
    /*align-self: end;
    align-items: center; */
}
.card-price{
    margin-left: auto;
    padding: 5px 20px;
    background-color:pink;
    border-radius: 20px;
}

@media only screen and (max-width:1000px){
    .card{
        grid-column-end: span 6;
    }

}
@media only screen and (max-width:700px){
    main{
        grid-gap: 20px;
    }
    .card{
        grid-column-end: span 12;
    }

}
@media only screen and (max-width:500px){
    main{
        grid-template-columns: 10px repeat(6,1fr) 10px;
        grid-gap: 10px;
    }
    .cards{ 
        grid-column:  2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card{
        grid-column-end: span 6;
    }
    .card-image-container img{
        width: 100%;
        position: absolute;
        width: 100px;
         height: 100px;
         /*position: relative; */
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    } 

}